<!DOCTYPE html>
<html ng-app="myApp" >
  <head>
    <title>Alec Wilbur</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" charset="utf-8"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    	<div ng-controller="MainController as ctrl">
            <div>
                <h1>Alec Wilbur</h1>
                <h3>Web Developer</h3>
            </div>
            <div>
                <p> Welcome! As you my have read above my name is Alec Wilbur, and I am a Maryland based web Developer. I work mainly with Javascript, CSS, HTML, and have experience with Ruby, SQL, MongoDB, Node.js and frameworks like Rails, Express, ect.</p>
                <p>Feel free to check out my projects below and reachout to me with any questions. I'm always looking to meet new people!</p>
            </div>
            <div>
                <nav>
                    <a href="https://www.linkedin.com/in/alec-wilbur/">Linkedin</a>
                    <a href="https://github.com/lawilbur">Github</a>
                    <a href="lawilbur2@gmail.com">Email</a>
                </nav>
            </div>
            <div>
                <nav>
                    <a ng-click="this.changeInclude('about')" href="#">About</a>
                    <a ng-click="this.changeInclude('projects')" href="#">Projects</a>
                    <a ng-click="this.changeInclude('resume')" href="#">Resume</a>
                    <a ng-click="this.changeInclude('contact')" href="#">Contact</a>
                </nav>
            </div>
            <div ng-include="'partials/resume.html'">
            </div>

    	</div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
